.test
	position: relative
	&-cont
		box-shadow: 7px 6px 47px rgba(81, 81, 81, 0.16)
		border-radius: 12px
		background-color: #ffffff
		padding: 3vw 4vw
		position: relative
		&:before
			content: ''
			position: absolute
			left: 50%
			top: 99.9%
			transform: translateX(-50%)
			width: 90%
			height: 1.5vw
			box-shadow: 7px 6px 47px rgba(111, 111, 111, 0.13)
			border-radius: 0 0 12px 12px
			opacity: 0.6
			background-color: #ffffff
	&-thank
		box-shadow: 7px 6px 47px rgba(81, 81, 81, 0.16)
		border-radius: 12px
		background-color: #ffffff
		padding: 3vw
		position: relative
		display: flex
		justify-content: center
		align-items: center
		height: 40vw
		&:before
			content: ''
			position: absolute
			left: 50%
			top: 99.9%
			transform: translateX(-50%)
			width: 90%
			height: 1.5vw
			box-shadow: 7px 6px 47px rgba(111, 111, 111, 0.13)
			border-radius: 0 0 12px 12px
			opacity: 0.6
			background-color: #ffffff
		&-img
		
		&__title
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			width: 90%

.line-text
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
.progress-bar
	display: flex
	align-items: center

	&__line
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 33%
		display: flex
		align-items: center
		justify-content: center
		border-radius: 110px
		background-color: #ffcd7d
		transition: width 0.4s
		&-wrap
			height: 2.4vw
			border-radius: 110px
			background-color: #f9f9f9
			width: 100%
			overflow: hidden
			position: relative
.quiz__next-wrap
	position: relative
	width: 21vw	
	// margin: auto
.quiz__prev
	width: auto
	padding: 1.3vw 3vw
.quiz__next
	display: inline-block
	padding-top: 1.5vw
	padding-bottom: 1.5vw
	width: 100%

.test-item
	display: flex
	justify-content: center
	flex-wrap: wrap
	position: relative
	
	&.t2
		justify-content: space-between
	&__title, .tsm12
		width: 100%
	&__qw2
		width: 50%

.tiem
	position: relative
	width: 30%
	margin: 0 1.4%	
	margin-bottom: 1.4vw
	cursor: pointer
	display: inline-block
	z-index: 2
	padding: 1.5vw
	&:hover
		z-index: 12
	&.t2
		padding: 1vw 1vw
		// width: 100%
		// border-radius: 5px
		// border: 1px solid #e8e8e8
	&.t3
		width: 22%
	&.t9
		width: 100%
		padding: 1vw
		padding-left: 0
	&-img
		height: 15.5vw
		display: flex
		justify-content: center
		align-items: center
		position: relative
		&.v2
			height: 21vw
.tiem-block
	width: 100%
	&.v2
		display: flex
		justify-content: center
		flex-wrap: wrap

.checkbox-block-it
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
.tiem-before-mod
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	border-radius: 5px
	border: 1px solid #dadada
	transition: all 0.4s


.slick-slide
	outline: none

.checkbox-block
	position: relative
	display: flex
	justify-content: center
	// opacity: 0.5
	.small-text, .tsm13, .tsm12
		//opacity: 0.6
		// font-weight: 400
		color: #757575
		font-weight: 700

	&.t2
		align-items: center
		.small-text, .tsm13, .tsm12
			font-weight: 600
.checkbox-inp
	display: none

.checkbox-psevdo
	border-radius: 100%
	border: 1px solid #cdcdcd
	border-radius: 111px
	background-color: #fff
	width: 1.5vw
	height: 1.5vw
	// padding: 0.2vw
	display: flex
	align-items: center
	justify-content: center
	margin-top: -0.3vw
	// margin-bottom: 0.1vw
	flex-shrink: 0
	&.t2
		margin-right: 0.5vw
		border: 1px solid #e8e8e8
	&.t3
		border-radius: 2px
		margin-top: -1.5vw
		background-color: #fff
		.checkbox-psevdo-active
			border-radius: 2px
			background-color: #dddddd
	&.t9
		margin-right: 0.5vw
		border: 1px solid #dddddd
		
	&-active
		width: 100%
		height: 100%
		border-radius: 100%
		padding: 0.2vw
		display: flex
		align-items: center
		opacity: 0
		justify-content: center
		background-image: linear-gradient(to top, #ffcc71 0%, #ffd1b2 100%)
		img
			// width: 100%
			align-self: center
			transform: scale(0)
			transition: all 0.3s
.checkbox-inp:checked ~ .tiem-img
	// box-shadow: 0 0 40px rgba(220, 191, 139, 0.1)
	// border: 1px solid #e0c592
	opacity: 1
.checkbox-inp:checked ~	.checkbox-block
	opacity: 1
	.small-text, .tsm13, .tsm12
		// font-weight: 700
		color: #282828
		opacity: 1
	.end-soc__text
		font-weight: 500
.checkbox-inp:checked ~	.tiem-before-mod
	// border-radius: 15px
	border: 1px solid #ffcd83
.checkbox-inp:checked ~ span .qw9-social
	filter: grayscale(0)
.checkbox-inp:checked ~ span .checkbox-psevdo
	// box-shadow: 0 2px 2rem rgba(#166aac, 0.2)
	border: 1px solid #fff
	&-active
		// background-color: #fbd542
		opacity: 1
		img
			transform: scale(1)
	&.t3
		.checkbox-psevdo-active
			background-color: #fbd542
.checkbox-inp:checked ~ .checkbox-block.t2
	.small-text
		// color: #4389e6



.test__btns
	margin-top: 2vw
	display: flex
	justify-content: center
	align-items: center


.btn-lbs
	position: absolute
	width: 100%
	height: 100%
	left: 50%
	left: 50%
	transform: translateX(-50%)
	z-index: 15
	cursor: pointer
	&:before
		content: "Выберие вариант ответа"
		position: absolute
		top: -1.5vw
		left: 50%
		transform: translateX(-50%)
		color: #e42a2e
		font-size: 1vw
		white-space: nowrap
		transition: all 0.4s
		opacity: 0
	&.act
		&:before
			opacity: 1

.t-end
	&-block
		display: flex
		justify-content: space-between
		width: 100%
		&__left
			width: 56%

		&__right
			width: 39%
			box-shadow: 7px 6px 47px rgba(81, 81, 81, 0.16)
			border-radius: 12px
			background-color: #ffffff
			padding: 2vw
	&-soc
		display: flex
		justify-content: space-between
		&__img
			width: 1.3vw
			height: 1.3vw
			display: flex
			justify-content: center
			align-items: center
			flex-shrink: 0

	&-form
		width: 70%